<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo_system.png" alt="logo" class="img-fluid mb-4"  width="200" height="200"/>
            <h4 class="mb-3 f-w-400">ลงทะเบียน</h4>
            <hr>
            <form [formGroup]="signUpForm" (ngSubmit)="initSaveCustomer()">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2"><i class="feather icon-user-plus"></i></span>
                <input type="text" formControlName="fristName" class="form-control" placeholder="Fristname" aria-label="Username" aria-describedby="basic-addon2" />
              </div>
              <div *ngIf="(signUpForm.get('fristName')?.valid && signUpForm.get('fristName')?.touched) || signUpForm.get('fristName')?.dirty " >
                <!-- <p class="text-start" *ngIf="signUpForm.get('email')?.errors?.['required']" class="text-danger">* กรุณากรอก Email address</p> -->
                <p class="text-start" *ngIf="signUpForm.get('fristName')?.errors?.['required']" class="text-danger">* กรุณากรอก ขื่อ</p>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2"><i class="feather icon-user-plus"></i></span>
                <input type="text" formControlName="lastName" class="form-control" placeholder="Lastname" aria-label="Username" aria-describedby="basic-addon2" />
              </div>
              <div *ngIf="(signUpForm.get('lastName')?.valid && signUpForm.get('lastName')?.touched) || signUpForm.get('lastName')?.dirty " >
                <!-- <p class="text-start" *ngIf="signUpForm.get('email')?.errors?.['required']" class="text-danger">* กรุณากรอก Email address</p> -->
                <p class="text-start" *ngIf="signUpForm.get('lastName')?.errors?.['required']" class="text-danger">* กรุณากรอก นามสกุล</p>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2"><i class="feather icon-phone"></i></span>
                <input type="text" formControlName="telephone" (keypress)="onKeyPress($event)" maxlength="10" class="form-control" placeholder="Telephone" />
              </div>
              <div *ngIf="(signUpForm.get('telephone')?.valid && signUpForm.get('telephone')?.touched) || signUpForm.get('telephone')?.dirty " >
                <!-- <p class="text-start" *ngIf="signUpForm.get('email')?.errors?.['required']" class="text-danger">* กรุณากรอก Email address</p> -->
                <p class="text-start" *ngIf="signUpForm.get('telephone')?.errors?.['required']" class="text-danger">* กรุณากรอก เบอร์โทรศัพท์</p>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2"><i class="feather icon-mail"></i></span>
                <input type="email" formControlName="email" class="form-control" placeholder="Email address" />
              </div>
              <div *ngIf="(signUpForm.get('email')?.valid && signUpForm.get('email')?.touched) || signUpForm.get('email')?.dirty" >
                <p class="text-start" *ngIf="signUpForm.get('email')?.errors?.['pattern']" class="text-danger">* กรุณากรอกรูปแบบ Email ให้ถูกต้อง</p>
              </div>
              
              <hr>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="feather icon-user"></i></span>
                <input type="text" formControlName="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
                <div class="input-group-append">
                  <button type="button" class="btn  btn-success" (click)="checkUsreName()">
                    <i class="feather icon-check-circle"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="(signUpForm.get('username')?.valid && signUpForm.get('username')?.touched) || signUpForm.get('username')?.dirty" >
                <p class="text-start" *ngIf="signUpForm.get('username')?.errors?.['required']" class="text-danger">* กรุณากรอก Username</p>
              </div>

              <div class="input-group mb-4">
                <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
                <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon3" />
                <div class="input-group-append">
                  <button class="btn btn-info" type="button" *ngIf="!isShowPassword" (click)="showPassword()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                  <button class="btn btn-info" type="button" *ngIf="isShowPassword" (click)="showPassword()"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                </div>
              </div>
              <div *ngIf="(signUpForm.get('password')?.valid && signUpForm.get('password')?.touched) || signUpForm.get('password')?.dirty" >
                <p class="text-start" *ngIf="signUpForm.get('password')?.errors?.['required']" class="text-danger">* กรุณากรอก Password</p>
              </div>
              <!-- <div class="form-group text-start mt-2">
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2" />
                  <label for="checkbox-fill-2" class="cr">
                    Send me the
                    <a href="javascript:">Newsletter</a>
                    weekly.
                  </label>
                </div>
              </div> -->
              <div class="d-grid">
                <button class="btn btn-primary btn-block mb-4" type="submit"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> สร้างบัญชี</button>
              </div>
            </form>
            
            <p class="mb-2">
              คุณมีบัญชีอยู่แล้ว?
              <a [routerLink]="['/auth/signin']" class="f-w-400">เข้าสู่ระบบ</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
